<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Products</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >New products</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                >On sale</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                >Last products</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>About it</h3>
          <ul>
            <li><a routerLink="/about-us">About us</a></li>
            <li><a routerLink="/stores">Our store</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contact</h3>
          <mat-form-field>
            <input matInput placeholder="email" [formControl]="emailField" type="email" >

          </mat-form-field>
          <!-- {{ emailField.valid }}, {{ emailField.invalid }} -->
          <button mat-button [disabled] *ngIf="emailField.valid" (click)="sendMail()"> Send</button>
          <p *ngIf="emailField.invalid">info not valid</p>
        </div>
      </div>
    </div>
  </div>
</footer>
