// :host {
//   margin: 2px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: block;
//   color: white
// }
.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
.top-between {

  padding-top: 25px;
  margin-top: 35px;
  background-color: white;
  color: black

}
.btn {
  background-color:rgb(26, 26, 130);
}
